.DS_Store
Thumbs.db

wp-config.php
.env
.env.local

.vscode/sftp.json

wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/plugins/
wp-content/mu-plugins/

wp-content/themes/salient/
wp-content/themes/salient-child/

*.sql
*.sql.gz
*.zip
*.tar
*.tar.gz